snippet signature "my signature"
Leonardo Cecconi
ceccott@gmail.com
github.com/ceccott
endsnippet

snippet sheb "shebang py3"
#!/usr/bin/env python3
endsnippet

snippet sheb2 "shebang py2"
#!/usr/bin/env python2
endsnippet

